.button {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    color: #000;

    /* linear-gradient(135deg, rgba(28, 112, 137, 0.75), rgba(5, 42, 61, 0.5)) */
    background: linear-gradient(135deg, rgba(237, 245, 255, 0.75) 0%, rgba(176, 212, 253, 0.5) 33%, rgba(28, 112, 137, 0.95) 33%, rgba(5, 42, 61, 0.75) 66%, rgba(237, 245, 255, 0.75) 66%, rgba(176, 212, 253, 0.5) 100%);
    background-size: 340%;
    background-position: left;
    padding: 1rem 2rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: 300ms ease-in;
    backdrop-filter: blur(5px);
    text-decoration: none;
    text-align: center;
    margin: 1rem 0;
}

.button.hoverIn {
    transform: scale(101%);
    background-position: center;
}

.button.hoverOut {
    background-position: right;
}

.button:active {
    transform: scale(95%);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    backdrop-filter: blur(3px);
}


@media screen and (min-width: 1024px) {
    
    .button {
        font-size: 1.5rem;
    }
}
