#hero {
    height: 70dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 12;
} 

#hero .content {
    font-size: 2rem;
    text-align: center;
}

#hero .content > * {
    grid-column: 2/12;
}

#hero .content .button {
    grid-column: 5/9;
}


#hero h1 {
    font-size: 4rem;
}

@media screen and (min-width: 1024px) {
    #hero {
        height: 100dvh;
    }
}