@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Lora';
    src: url('./fonts/Lora-VariableFont_wght.ttf');
}

:root {



    --blueLight: #348ca7;
    --blueDark: #13445f;
    --accentOrange: rgb(255,192,122);
    --accentOrangeLight: rgb(255,250,240);
    --accentGradient: linear-gradient(135deg, var(--accentOrange) 50%, var(--accentOrangeLight) 90%);
    --blueGradient: linear-gradient(135deg, var(--blueLight), var(--blueDark));
    --blueGradientGlass: linear-gradient(135deg, rgba(28, 112, 137, 0.85), rgba(5, 42, 61, 0.65));
    --regularShadow: 3px 5px 20px rgba(0,0,0,0.25);
    --regularShadowShortDistance: 3px 3px 10px rgba(0,0,0,0.75);
    --boxBorderRadius: 25px;
    --greyBackground: linear-gradient(90deg, rgb(248,249,253), rgb(246,247,251));

    --gridLayout: auto / repeat(12, 1fr)
}

html {
    font-family: system-ui, 'Lora';
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: var(--greyBackground);
} 

p {
    margin: 1rem 0 2rem 0;
}

.cta { 
    grid-column: 2/12;
} 

h1 {
    font-size: 3rem;
    font-weight: 800;
    grid-column: 2/12;
    background: var(--blueGradient);
    background-clip: text;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--blueLight);
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

section {
    margin: 5rem 0 3rem 0;
}

.content {
    padding: 1rem 0;
    display: grid;
    grid-template: var(--gridLayout);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', system-ui;
    margin: 1rem 0 2rem 0;
}

a {
    transition: 300ms ease-in;
}

a:hover {
    color: var(--accentOrange);
}

.cta {
    text-align: center;
    margin: 3rem 0;
}


