#kontakt {
    background: linear-gradient(90deg, rgb(237,237,237), rgb(242,242,242)) ;
    margin-top: 0;
}


input[type="submit"] {
    border: none;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    background: linear-gradient(135deg, rgba(237, 245, 255, 0.75) 0%, rgba(176, 212, 253, 0.5) 55%, rgba(176, 212, 253, 0.75) 55%, rgba(50,100,155, 0.95) 100%);
    background-size: 250%;
    background-position: left;
    padding: 1rem 2rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: 300ms ease-in;
    backdrop-filter: blur(5px);
    text-decoration: none;
}

input[type="submit"]:hover {
    transform: scale(101%);
    background-position: right;
    border-left: 2px solid rgba(216, 234, 255, 0.99);
    border-top: 2px solid rgba(216, 234, 255, 0.99);
    color: var(--accentOrange); 
}

input[type="submit"]:active {
    transform: scale(95%);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    backdrop-filter: blur(3px);
}

@media screen and (min-width: 1024px) {
    
    .button {
        font-size: 1.5rem;
    }
}


.kontakt-wrapper {
    grid-column: span 12;
    grid-row: 2;
    display: grid;
    gap: 20px;
    grid-template: var(--gridLayout);
}

form {
    grid-column: 2/12;
}

.form-item {
    display: flex;
    flex-flow: column;
}

.form-item input, .form-item textarea {
    font-family: 'Lora';
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
}

input:not([type="submit"]), textarea {
    border: none;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1);
    background: linear-gradient(90deg, rgba(237, 245, 255, 0.5) 0%, rgba(176, 212, 253, 0.25) 55%, rgba(255, 131, 125, 0.5) 55%, rgba(255, 131, 125, 0.25) 100%);
    background-size: 250%;
    transition: 300ms ease-in;
}

input:not([type="submit"]).invalid, textarea.invalid {
    background-position: right;
}

.more-contact-options {
    grid-column: 2/12;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}

.contact-option {
    text-decoration: none;
}

.contact-option .fa {
    font-size: 2rem;
}

.more-contact-options .contact-option {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 1rem;
    background: red;
}

label {
    padding: 1rem 0 0 0;
    cursor: pointer;
}

[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: var(--blueLight);
}

@media screen and (min-width: 1024px) {

    .more-contact-options {
        display: flex;
        flex-flow: row wrap;
        gap: 1px;
}

}