.intro {
    grid-column: 2/12;
}

.projekte {
    grid-column: 2/12;
}

.projekt-item img {
    width: 150px;
}

.projekte .projekt-item:nth-child(even) {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.projekt-item {
    padding: 1rem;
    display: flex;
    flex-flow: column;
} 

.projekt-body {
    display: grid;
    gap: 1rem;
    grid-template: 250px / 1fr;
}



@media screen and (min-width: 1024px) {
    .projekt-body {
        grid-template: auto / 1fr 1fr;
    }

}
