
#service .content .button {
    grid-column: 4/10;
}

h2 {
    grid-column: 2/12;
}

.service-wrapper {
    grid-column: 2/12;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    gap: 1rem;
}


#service .service-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem 1rem;
    border-radius: var(--boxBorderRadius);
    box-shadow: var(--regularShadow);
    position: relative;
    background: var(--blueGradient);
    border-left: 2px solid #9db1cd;
    border-top: 2px solid #adc2e0;
    color: #fff;
} 

.service-item .fa {
    font-size: 3rem;
    background: linear-gradient(135deg, var(--accentOrange), var(--accentOrangeLight));
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.service-item h3 {
    width: 75%;
    margin: 0.5rem 0 0 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--accentOrange);
    color: var(--accentOrange);
}

@media screen and (min-width: 1028px) {

    .service-wrapper {
        display: flex;
        flex-flow: row wrap; 
    }

    .service-item {
        flex: 1 1 300px;
    }
}

@media screen and (min-width: 2000px) {

    .service-wrapper {
        display: flex;
        flex-flow: row wrap;
        grid-column: 3/10;
    }

    .service-item {
        flex: 1 1 150px;
    }

    h2 {
        grid-column-start: 3;
    }

}