.intro-wrapper {
    grid-column: 2/12;
}

.services {
    grid-column: span 12;
    display: grid;
    grid-template: var(--gridLayout);
    gap: 1rem;
}

.cta { 
    grid-column: 2/12;
} 

h1 {
    grid-column: 2/12;
}

.service-titles h2 {
    border-bottom: 1px solid #fff;
    margin: 0;
}

.service-titles h3 {
    margin: 0;
}

.service-title-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.service-title-wrapper .fa {
    font-size: 3rem;
}

.service-member-wrapper:nth-child(odd) .service-title-wrapper {
    background: var(--accentGradient);
    background-clip: text;
    color: transparent;
}

.service-member-wrapper:nth-child(odd) p {
    color: #fff;
}

.service-member-wrapper:nth-child(even) .service-title-wrapper {
    background: var(--blueGradient);
    background-clip: text;
    color: transparent;
}

.service-member-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 1rem;
    box-shadow: var(--regularShadow);
}

.service-member-wrapper:nth-child(odd) {
    grid-column: 1/10;
    background: var(--blueGradientGlass);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.service-member-wrapper:nth-child(even) {
    grid-column: 4/13;
    background: var(--accentGradient);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.service-member {
    grid-column: 2/7;
}

@media screen and (min-width: 1024px) {
}