.intro-wrapper {
    grid-column: 2/12;
}

.services {
    grid-column: span 12;
    display: grid;
    grid-template: var(--gridLayout);
    row-gap: 3rem;
}


.service-titles h2 {
    border-bottom: 1px solid #fff;
    margin: 0;
}

.service-titles h3 {
    margin: 0;
}

.service-title-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.service-title-wrapper .fa {
    font-size: 3rem;
}

.service-member-wrapper:nth-child(odd) .service-title-wrapper {
    background: var(--accentGradient);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

.service-member-wrapper:nth-child(odd) .service-title-wrapper h2,
.service-member-wrapper:nth-child(odd) .service-title-wrapper h3,
.service-member-wrapper:nth-child(odd) .service-title-wrapper .fa {
    color: transparent;
}

.service-member-wrapper:nth-child(odd) p {
    color: #fff;
}

.service-member-wrapper:nth-child(even) .service-title-wrapper {
    background: var(--blueGradient);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

.service-member-wrapper:nth-child(even) .service-title-wrapper h2,
.service-member-wrapper:nth-child(even) .service-title-wrapper h3,
.service-member-wrapper:nth-child(even) .service-title-wrapper .fa {
    color: transparent;
}

.service-member-wrapper {
    display: grid;
    grid-template-columns: 0.75fr repeat(6, 1fr) 0.5fr;
    padding: 2rem 0;
    box-shadow: var(--regularShadow);
    transition: 400ms ease-in;
}

.service-member-wrapper:nth-child(odd) {
    grid-column: 1/12;
    background: var(--blueGradient);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    transform: translateX(-50%);
    opacity: 0;
}

.service-member-wrapper:nth-child(even) {
    grid-column: 2/13;
    background: var(--accentGradient);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    transform: translateX(50%);
    opacity: 0;
}

.service-member {
    grid-column: 2/8;
}

@media screen and (min-width: 1024px) {
    .service-member-wrapper:nth-child(odd) {
        grid-column: 1/10;
    }

    .service-member-wrapper:nth-child(even) {
        grid-column: 4/13;
    }

    .service-member-wrapper {
        grid-template-columns: 0.8fr repeat(6, 1fr) 0.8fr;
    }

    .service-member {
        grid-column: 2/8;
    }
    
    
}